source https://www.nuget.org/api/v2/

framework: auto-detect
storage: none

nuget System.Reactive ~> 4.1.6
nuget FSharp.Control.AsyncSeq
nuget FSharp.Quotations.Evaluator ~> 1.1.3

nuget FsUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk